.container {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-rows: 70px 400px 1fr;
}

#postsGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.post-card {
  border: 2px solid grey;
  margin: 30px;
  padding: 0 30px;
}

.postImg {

}

.postBody {
  display: flex;
}